.place__main-text {
	margin: 48px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	max-width: 484px;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1152px) {
	.place__main-text {
		 max-width: 456px;
	}
}

@media screen and (max-width: 896px) {
	.place__main-text {
		 max-width: 352px;
	}
}

@media screen and (max-width: 544px) {
	.place__main-text {
		 margin: 32px auto 0;
		 max-width: 288px;
	}
}
