.footer__links {
	outline: 2px solid #FFFFFF;
}

@media screen and (max-width: 568px) {
	.footer__links {
	min-height: 248px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
}